@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
}

svg.rotate {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}